<%- include("partials/head.ejs") %>

    <main class="card">
        <h1 class="card__title">
            <% if (game_won) { %>
                Wygrałeś!
                <% } else { %>
                    Koniec gry!
                    <% } %>
        </h1>

        <span class="card__tip">
            <% if (game_won) { %>
                Gratulacje, odgadłeś wszystkie słowa!
                <% } else { %>
                    Ukończyłeś grę z wynikiem:
                    <% } %>
        </span>

        <span class="summary-score">
            <%= score %>
        </span>

        <form action="/game/restart" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit" class="btn btn--primary">
                <% if (game_won) { %>
                    Powrót do menu głównego
                    <% } else { %>
                        Zagraj ponownie
                        <% } %>
            </button>
        </form>
    </main>

    <%- include("partials/foot.ejs") %>