<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/css/styles.css'>
    <title>
        <%= title %>
    </title>
</head>

<body>

    <header>
        <nav class="nav">
            <a href="/">
                <img class="nav__logo" src="/assets/icon.png">
            </a>
            <div class="nav__links">
                <a class="nav__item" href="/">
                    <img class="nav__icon" src="/assets/home_icon.svg">
                    <span>Strona główna</span>
                </a>
                <a class="nav__item" href="/word/new">
                    <img class="nav__icon" src="/assets/plus_icon.svg">
                    <span>Dodaj słowo</span>
                </a>
                <a class="nav__item" href="/category/new">
                    <img class="nav__icon" src="/assets/example_icon.png">
                    <span>Dodaj kategorię</span>
                </a>
                <% if (user) { %>
                <a class="nav__item" href="/word/list/private">
                    <img class="nav__icon" src="/assets/list_icon.svg">
                    <span>Osobista lista słów</span>
                </a>
                <% } %>
                <a class="nav__item" href="/word/list/public">
                    <img class="nav__icon" src="/assets/globe_icon.svg">
                    <span>Globalna lista słów</span>
                </a>
            </div>
            <div class="nav__user">
                <% if (user){ %>
                    <span class="nav__user-logged-text">Zalogowano jako: <span><%= user.username %></span></span>
                    <form method="post" action="/auth/logout">
                        <button class="nav__item" type="submit">
                            <img class="nav__icon" src="/assets/logout_icon.svg">
                            <span>Wyloguj</span>
                        </button>
                    </form>
                        <% } else { %>
                            <a class="nav__item" href="/auth/login">
                                <img class="nav__icon" src="/assets/user_icon.svg">
                                <span>Logowanie</span>
                            </a>
                            <% } %>
            </div>
        </nav>
    </header>