<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/css/styles.css'>
    <title>
        <%= title %>
    </title>
</head>

<body>

    <header>
        <nav class="nav">
            <a href="">
                <img class="nav__logo" src="/assets/icon.png">
            </a>
            <div class="nav__links">
                <a class="nav__item" href="/">
                    <img class="nav__icon" src="/assets/example_icon.png">
                    <span>Strona główna</span>
                </a>
                <a class="nav__item" href="/word/new">
                    <img class="nav__icon" src="/assets/example_icon.png">
                    <span>Dodaj słowo</span>
                </a>
                <a class="nav__item" href="/word_list">
                    <img class="nav__icon" src="/assets/example_icon.png">
                    <span>Lista słów</span>
                </a>
            </div>
            <div class="nav__user"></div>
        </nav>
    </header>