<%- include("partials/head.ejs") %>

<div class="game-summary">
    <h1>Koniec gry!</h1>
    <p>Twój wynik: <%= score %></p>
    <form action="/" method="POST">
        <button type="submit" name="game_action" value="restart">Zagraj ponownie</button>
    </form>
</div>

<%- include("partials/foot.ejs") %>