<div class="game-controls">
    <form action="/game/restart" method="POST">
        <button class="game-button" type="submit">Zrestartuj grę</button>
    </form>
    <form action="/game/finish" method="POST">
        <button class="game-button" type="submit">Zakończ grę</button>
    </form>
</div>