<form action="/game/guess" method="POST" class="guess-form" autocomplete="off">
    <input type="text" name="guess" placeholder="Wpisz poprawione słowo" required/>
    <button class="game-button" type="submit">Sprawdź</button>
</form>