<div class="game-controls">
    <form action="/" method="POST">
        <button class="game-button" type="submit" name="game_action" value="restart">Zrestartuj grę</button>
        <button class="game-button" type="submit" name="game_action" value="finish">Zakończ grę</button>
    </form>
</div>