<%- include("partials/head.ejs") %>

    <div class="game-summary">
        <h1>Wygrałeś!</h1>
        <p>Gratulacje, odgadłeś wszystkie słowa!</p>
        <form action="/" method="POST">
            <button type="submit" name="game_action" value="restart">Powrót do menu głównego</button>
        </form>
    </div>

    <%- include("partials/foot.ejs") %>