<%- include("partials/head.ejs") %>

<main>
    <h1><b><i>Poniżej znajduje się lista wszystkich słów wg kategorii</i></b></h1>
    <% if (categories.length > 0){ %>
        <%- include("parameter_partials/words_categories.ejs", { categories: categories })  %>
    <% } else { %>
        <span>Nie istnieją jeszcze żadne kategorie!</span> 
    <% } %>

</main>

<%- include("partials/foot.ejs") %>
