<%- include("partials/head.ejs") %>

<main>
    <h1><b><i>Poniżej znajduje się lista wszystkich słów wg kategorii</i></b></h1>

    <% categories.forEach(category => { %>
        <section class="word-list-category">
            <h2><%= category.name %></h2>
            <ul>
                <% category.words.forEach(word => { %>
                    <li><%= word.name %></li>
                <% }); %>
            </ul>
        </section>
    <% }); %>

</main>

<%- include("partials/foot.ejs") %>
