<% categories.forEach(category=> { %>
    <section class="word-list-category">
        <h2>
            <%= category.name %>
        </h2>
        <ul>
            <% category.words.forEach(word => { %>
                <li>
                    <div class="word-row">
                        <span class="word-name"><%= word.name %></span>

                        <div class="word-row-actions">
                            <a href="/word/edit/<%= word.id %>" class="word-button-link">
                                <button type="button" class="word-button">Edytuj</button>
                            </a>

                            <%- include("./forms/delete_word.ejs", { word }) %>

                        </div>
                    </div>
                </li>
                <% }) %>
        </ul>
    </section>
<% }) %>