<form action="/" method="POST" class="guess-form" autocomplete="off">
    <input type="text" name="guess" placeholder="Wpisz słowo" required/>
    <button class="game-button" type="submit" name="game_action" value="guess">Sprawdź</button>
</form>