<%- include("../partials/head.ejs") %>

    <main class="card">
        <div class="auth-wrapper">
            <h1 class="card__title">LOGOWANIE</h1>
            <form class="form form--vertical auth" action="/auth/login" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <% if (typeof errors !='undefined' ) {%>
                    <div class="equal-divide-container__item notice-box auth__error">
                        <%= errors[0] %>
                    </div>
                    <% } %>
                        <div class="auth__fields">
                            <label for="username" class="auth__label">Nazwa użytkownika:</label>
                            <input type="input" id="username" name="username" class="input input--primary"
                                autocomplete="username" required autofocus>
                            <label for="password" class="auth__label">Hasło:</label>
                            <input type="password" id="password" name="password" class="input input--primary"
                                autocomplete="current-password" required>
                        </div>
                        <button type="submit" class="btn btn--primary auth__button">Zaloguj się</button>
                        <span class="auth__tip">Nie masz jeszcze konta? <a href="/auth/register">Zarejestruj
                                się!</a></span>
            </form>

        </div>
        </div>
    </main>

    <%- include("../partials/foot.ejs") %>