<%- include("../partials/head.ejs") %>

    <main class="card">
        <div class="equal-divide-container">
            <div class="equal-divide-container__item equal-divide-container__item--right notice-box">
                <span class="notice-box__title">Wymagania:</span>
                <ul class="notice-box__item">
                    <li><span class="notice-box__item-name">Nazwa uЕјytkownika:</span>
                        <ul class="notice-box__item-content">
                            <li>musi zawieraДҮ od 3 do 20 znakГіw</li>
                            <li>dozwolone znaki: cyfry, litery, _ , -</li>
                        </ul>
                    </li>
                    <li><span class="notice-box__item-name">HasЕӮo </span>musi zawieraДҮ:
                        <ul class="notice-box__item-content">
                            <li> od 5 do 64 znakГіw,</li>
                            <li>przynajmniej 1 duЕјД… literДҷ,</li>
                            <li>przynajmniej 1 cyfrДҷ</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="auth-wrapper equal-divide-container__item">
                <h1 class="card__title">REJESTRACJA</h1>
                <% if (typeof errors !='undefined' ) {%>
                    <div class="equal-divide-container__item notice-box auth__error">
                        <ul>
                            <% errors.forEach(error=> { %>
                                <li>
                                    <%= error %>
                                </li>
                                <% }) %>
                        </ul>
                    </div>
                    <% } %>
                        <form class="form form--vertical auth" action="/auth/register" method="post">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <div class="auth__fields">
                                <label for="username" class="auth__label">Nazwa uЕјytkownika:</label>
                                <!-- pattern="[a-zA-Z0-9_Д…ДҮДҷЕӮЕ„ГіЕӣЕәЕјД„ДҶДҳЕҒЕғГ“ЕҡЕ№Е»]+" minlength="3" maxlength="20" -->
                                <input type="input" id="username" name="username" placeholder="np. janusz_32"
                                    class="input input--primary" autocomplete="username" required autofocus>
                                <label for="password" class="auth__label">HasЕӮo:</label>
                                <!-- pattern="(?=.*[A-Z])(?=.*\d).{5,64}" minlength="5" maxlength="64"  -->
                                <input type="password" id="password" name="password" placeholder="np. hasloJanusza32"
                                    class="input input--primary" autocomplete="new-password" required>
                                <label for="confirm_password" class="auth__label">PotwierdЕә hasЕӮo:</label>
                                <input type="password" id="confirm_password" name="confirm_password"
                                    class="input input--primary" autocomplete="new-password" required>
                            </div>
                            <button type="submit" class="btn btn--primary auth__button">Zarejestruj siДҷ</button>
                            <span class="auth__tip">Masz juЕј konto? <a href="/auth/login">Zaloguj siДҷ!</a></span>
                        </form>

            </div>
        </div>
    </main>

    <%- include("../partials/foot.ejs") %>